In [9]:
import pandas as pd
import geopandas

In [18]:
df =geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
df

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [124]:
df = df[['name','geometry']]
dic = df.to_dict(orient='records')


dic[0]

{'name': 'Fiji',
 'geometry': <shapely.geometry.multipolygon.MultiPolygon at 0x7f41b173fed0>}

In [125]:
dic_={}

for e in dic:
    dic_[e['name']]= e['geometry']

dic_['US'] = dic_['United States of America']
del dic_['United States of America']

dic_['Trinidad & Tobago'] = dic_['Trinidad and Tobago']
del dic_['Trinidad and Tobago']

dic_['South Sudan'] = dic_['S. Sudan']
del dic_['S. Sudan']

dic_['Republic of Congo '] = dic_['Dem. Rep. Congo']


dic_['USSR'] = dic_['Russia']

dic_['Russian Federation'] = dic_['Russia']
del dic_['Russia']

dic_['Czech Republic'] = dic_['Czechia']
del dic_['Czechia']


dic_['Equatorial Guinea'] = dic_['Eq. Guinea']
del dic_['Eq. Guinea']


print(dic_.keys())

dict_keys(['Fiji', 'Tanzania', 'W. Sahara', 'Canada', 'Kazakhstan', 'Uzbekistan', 'Papua New Guinea', 'Indonesia', 'Argentina', 'Chile', 'Dem. Rep. Congo', 'Somalia', 'Kenya', 'Sudan', 'Chad', 'Haiti', 'Dominican Rep.', 'Bahamas', 'Falkland Is.', 'Norway', 'Greenland', 'Fr. S. Antarctic Lands', 'Timor-Leste', 'South Africa', 'Lesotho', 'Mexico', 'Uruguay', 'Brazil', 'Bolivia', 'Peru', 'Colombia', 'Panama', 'Costa Rica', 'Nicaragua', 'Honduras', 'El Salvador', 'Guatemala', 'Belize', 'Venezuela', 'Guyana', 'Suriname', 'France', 'Ecuador', 'Puerto Rico', 'Jamaica', 'Cuba', 'Zimbabwe', 'Botswana', 'Namibia', 'Senegal', 'Mali', 'Mauritania', 'Benin', 'Niger', 'Nigeria', 'Cameroon', 'Togo', 'Ghana', "Côte d'Ivoire", 'Guinea', 'Guinea-Bissau', 'Liberia', 'Sierra Leone', 'Burkina Faso', 'Central African Rep.', 'Congo', 'Gabon', 'Zambia', 'Malawi', 'Mozambique', 'eSwatini', 'Angola', 'Burundi', 'Israel', 'Lebanon', 'Madagascar', 'Palestine', 'Gambia', 'Tunisia', 'Algeria', 'Jordan', 'United Arab Emirates', 'Qatar', 'Kuwait', 'Iraq', 'Oman', 'Vanuatu', 'Cambodia', 'Thailand', 'Laos', 'Myanmar', 'Vietnam', 'North Korea', 'South Korea', 'Mongolia', 'India', 'Bangladesh', 'Bhutan', 'Nepal', 'Pakistan', 'Afghanistan', 'Tajikistan', 'Kyrgyzstan', 'Turkmenistan', 'Iran', 'Syria', 'Armenia', 'Sweden', 'Belarus', 'Ukraine', 'Poland', 'Austria', 'Hungary', 'Moldova', 'Romania', 'Lithuania', 'Latvia', 'Estonia', 'Germany', 'Bulgaria', 'Greece', 'Turkey', 'Albania', 'Croatia', 'Switzerland', 'Luxembourg', 'Belgium', 'Netherlands', 'Portugal', 'Spain', 'Ireland', 'New Caledonia', 'Solomon Is.', 'New Zealand', 'Australia', 'Sri Lanka', 'China', 'Taiwan', 'Italy', 'Denmark', 'United Kingdom', 'Iceland', 'Azerbaijan', 'Georgia', 'Philippines', 'Malaysia', 'Brunei', 'Slovenia', 'Finland', 'Slovakia', 'Eritrea', 'Japan', 'Paraguay', 'Yemen', 'Saudi Arabia', 'Antarctica', 'N. Cyprus', 'Cyprus', 'Morocco', 'Egypt', 'Libya', 'Ethiopia', 'Djibouti', 'Somaliland', 'Uganda', 'Rwanda', 'Bosnia and Herz.', 'Macedonia', 'Serbia', 'Montenegro', 'Kosovo', 'US', 'Trinidad & Tobago', 'South Sudan', 'Republic of Congo ', 'USSR', 'Russian Federation', 'Czech Republic', 'Equatorial Guinea'])

In [126]:
locations_df = pd.read_csv("Sauvegardes_clean_csv/locations.csv",index_col='Unnamed: 0')
locations

locations_df['geo_localisation']= locations_df['name'].map(dic_)
locations_df

,name,region_id,geo_localisation
0,Canada,1,"(POLYGON ((-122.84 49.00000000000011, -122.974..."
1,Mexico,1,POLYGON ((-117.1277599999999 32.53533999999996...
2,US,1,"(POLYGON ((-122.84 49.00000000000011, -120 49...."
3,Argentina,2,(POLYGON ((-68.63401022758323 -52.636370458874...
4,Brazil,2,POLYGON ((-53.37366166849824 -33.7683777809007...
...,...,...,...
107,China Hong Kong SAR,7,NaN
108,Philippines,7,(POLYGON ((120.8338961121466 12.70449616134243...
109,Singapore,7,NaN
110,Sri Lanka,7,"POLYGON ((81.7879590188914 7.523055324733164, ..."
111,Taiwan,7,"POLYGON ((121.7778178243899 24.3942735865194, ..."

In [130]:
locations_df.to_csv("Sauvegardes_clean_csv/locations.csv")

In [132]:
pd.read_csv("Sauvegardes_clean_csv/locations.csv",index_col=0)

,name,region_id,geo_localisation
0,Canada,1,"MULTIPOLYGON (((-122.84 49.00000000000011, -12..."
1,Mexico,1,POLYGON ((-117.1277599999999 32.53533999999996...
2,US,1,"MULTIPOLYGON (((-122.84 49.00000000000011, -12..."
3,Argentina,2,MULTIPOLYGON (((-68.63401022758323 -52.6363704...
4,Brazil,2,POLYGON ((-53.37366166849824 -33.7683777809007...
...,...,...,...
107,China Hong Kong SAR,7,NaN
108,Philippines,7,MULTIPOLYGON (((120.8338961121466 12.704496161...
109,Singapore,7,NaN
110,Sri Lanka,7,"POLYGON ((81.7879590188914 7.523055324733164, ..."
111,Taiwan,7,"POLYGON ((121.7778178243899 24.3942735865194, ..."